<div class="container">
  <h2>פרטי חברה</h2>
  <div *ngIf="user.isAdmin" class="top-options-container">
    <p-dropdown name="companies" id="companies" [(ngModel)]="editableCompany" size="1"
                [options]="dropdownCompanies"
                (onChange)="setEditCompany()"></p-dropdown>
    <button id="delete-company-button" (click)="openDeleteCompanyDialog = true">מחק חברה</button>
  </div>
  <br>
  <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>
    <div class="row" *ngIf="user.isManager">
      <div class="col-md-5 ">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !visaNumber.valid }">
          <label for="visaNumber">מספר ויזה</label>
          <input id="visaNumber" type="number" class="form-control" name="visaNumber" [(ngModel)]="editableCompany.visa.visaNumber"
                 #visaNumber="ngModel"
                 required/>
          <div *ngIf="f.submitted && !visaNumber.valid" class="help-block">אנא הכנס מספר ויזה</div>
        </div>
        <div class="form-group">
          <label>תאריך תפוגה</label><br>
          <p-dropdown name="month" id="month" [(ngModel)]="chosenMonth" [options]="months"
                      (onChange)="setExpParameter('month')"></p-dropdown>
          <p-dropdown name="year" id="year" [(ngModel)]="chosenYear" [options]="years"
                      (onChange)="setExpParameter('year')"></p-dropdown>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !visaCVV.valid }" title="אנא הכנס 3 ספרות אימות, לדוגמא : 123">
          <label for="visaCVV">ספרות אימות</label>
          <input id="visaCVV" type="number" class="form-control" name="visaCVV" [(ngModel)]="editableCompany.visa.cvv"
                 #visaCVV="ngModel" pattern = "[0-9]{3}"
                 required/>
          <div *ngIf="f.submitted && !visaCVV.valid" class="help-block">אנא הכנס ספרות אימות</div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">עדכן</button>
          <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-5">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !editableCompanyName.valid }">
          <label for="editableCompanyName">שם החברה</label>
          <input type="text" class="form-control" name="editableCompanyName" [(ngModel)]="editableCompany.name"
                 #editableCompanyName="ngModel"
                 required/>
          <div *ngIf="f.submitted && !editableCompanyName.valid" class="help-block">אנא הכנס את כתובת החברה</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !editableCompanyAddress.valid }">
          <label for="editableCompanyAddress">כתובת החברה</label>
          <input id="editableCompanyAddress" type="text" class="form-control" name="editableCompanyAddress" [(ngModel)]="editableCompany.address"
                 #editableCompanyAddress="ngModel"
                 required/>
          <div *ngIf="f.submitted && !editableCompanyAddress.valid" class="help-block">אנא הכנס את כתובת החברה</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !editableCompanyField.valid }">
          <label for="editableCompanyField">תחום עיסוק חברה</label>
          <input id="editableCompanyField" type="text" class="form-control" name="editableCompanyField" [(ngModel)]="editableCompany.field"
                 #editableCompanyField="ngModel"
                 required/>
          <div *ngIf="f.submitted && !editableCompanyField.valid" class="help-block">אנא הכנס את תחום עיסוק החברה</div>
        </div>
      </div>
    </div>

  </form>
  <div class="row" *ngIf="!user.isManager">
    <div class="col-md-offset-7 col-md-5">
      <div>
        <label for="editableCompanyName">שם החברה</label>
        <input id="editableCompanyName" [disabled]="!user.isManager" type="text" class="form-control" name="editableCompanyName"
               [ngModel]="editableCompany.name"
               #editableCompanyName="ngModel"
        />
      </div>
      <div>
        <label for="editableCompanyAddress">כתובת החברה</label>
        <input [disabled]="!user.isManager" type="text" class="form-control" name="editableCompanyAddress"
               [(ngModel)]="editableCompany.address"
               #editableCompanyAddress="ngModel"
        />
      </div>
      <div>
        <label for="editableCompanyField">תחום עיסוק חברה</label>
        <input [disabled]="!user.isManager" type="text" class="form-control" name="editableCompanyField"
               [(ngModel)]="editableCompany.field"
               #editableCompanyField="ngModel"
        />
      </div>
    </div>
  </div>
  <br>
  <users-table *ngIf="!user.isAdmin && !user.isManager" [editable]="false"></users-table>

  <div [ngClass]="{'col-md-offset-2 col-md-4': user.isAdmin,
                   'col-md-offset-3 col-md-5': !user.isAdmin}">
    <h2 *ngIf="user.isManager" >פילוח שעות לחודש נוכחי לפי עובדים</h2>
  <p-dropdown *ngIf="user.isAdmin" name="companies" id="companies" [(ngModel)]="editableCompany" size="1"
              [options]="dropdownCompanies"
              (onChange)="setEditCompany()"></p-dropdown>
    <p-chart *ngIf="user.isManager" #chart type="pie" [data]="chartData"></p-chart>
  </div>

  <div [ngClass]="{'col-md-offset-1 col-md-4': user.isAdmin,
                   'col-md-5': !user.isAdmin}">
    <h2 *ngIf="user.isAdmin" >מעקב עובדים בחברות</h2>
    <br>
    <br>
    <p-chart *ngIf="user.isAdmin" #chart2 type="doughnut" [data]="chartData2"></p-chart>
   </div>

</div>

<p-dialog header="Godfather I" [(visible)]="openDeleteCompanyDialog" modal="modal" width="300" responsive="true">
  <p>האם אתה בטוח שברצונך למחוק את החברה "{{company.name}}"?</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="openDeleteCompanyDialog=false" label="לא"></button>
      <button type="button" pButton icon="fa-check" (click)="deleteCompany()" label="כן"></button>
    </div>
  </p-footer>
</p-dialog>
