<div class="container-fluid">
  <div class="col-md-4 responsiveCal" *ngIf="displayCalendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;hl=iw&amp;bgcolor=%23FFFFFF&amp;src=en.jewish%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FJerusalem"
      style="border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <div [ngClass]="{'col-md-12': !displayCalendar,
                   'col-md-8': displayCalendar}">
    <div class="shifts-buttons-area">
      <button class="btn btn-info" (click)="addShift()" tooltipPlacement="top" tooltip="הוסף דיווח"><span
        class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-default" (click)="toggleCalendar()" tooltipPlacement="top" tooltip="הצג/הסתר לוח שנה"><span
        class="glyphicon glyphicon-calendar"></span></button>
      <button class="btn btn-default" (click)="refreshPage()" tooltipPlacement="top" tooltip="רענן רשימת דיווחים"><span
        class="glyphicon glyphicon-refresh"></span></button>
      <button class="btn btn-success" (click)="saveData()" tooltipPlacement="top" tooltip="שמור"><span
        class="glyphicon glyphicon-floppy-save"></span></button>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">רשימת דיווחי שעות</div>
      <div class="panel-body">
        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>
      </div>
      <div class="panel-footer">
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>
  </div>
  <!--[ngClass]="{'col-md-2': !displayCalendar, 'col-md-1': displayCalendar}"-->
  <!--<div class="col-md-2" *ngIf="user.isManager">-->
  <!--<div class="panel panel-primary">-->
  <!--<div class="panel-heading">פעולות</div>-->
  <!--<div class="panel-body">-->
  <!--<ul class="actions-list">-->
  <!--<li><a>דיווח שעות</a></li>-->
  <!--<li><a>הוספת עובד חדש</a></li>-->
  <!--<li><a>פרטי החברה</a></li>-->
  <!--<li><a>פרטים אישיים</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--<div class="panel-footer">Content</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">דיווח שעה</h4>
      </div>
      <div class="modal-body">

        <form name="form" (ngSubmit)="f.form.valid && confirmShift()" #f="ngForm" novalidate>
          <div class="row">
            <div class="form-group col-sm-offset-3 col-sm-4" [ngClass]="{ 'has-error': f.submitted && !date.valid }">
              <label>תאריך</label>
              <input type="text" disabled class="form-control"
                     value="{{getDate() | date: 'dd/MM/yyyy'}}" />
              <div style="display: inline-block;min-height:267px;">
                <datepicker shortcutPropagation="true" [(ngModel)]="modalDate" [showWeeks]="false"
                            #date='ngModel' name="date" requierd (ngModelChange)="print($event)"></datepicker>
              </div>
              <div *ngIf="f.submitted && !date.valid" class="help-block">אנא הכנס תאריך דיווח</div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalStart.valid }" dir="ltr">
                <label>שעת התחלה</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalStart"
                            [(ngModel)]="modalStartHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="true"
                            [readonlyInput]="false" required name="modalStart" #modalStart="ngModel"></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalStart.valid" class="help-block">אנא הכנס שעת התחלה</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalEnd.valid }" dir="ltr">
                <label>שעת סיום</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalEnd"
                            [(ngModel)]="modalEndHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="true"
                            [readonlyInput]="false" name="modalEnd" #modalEnd="ngModel"
                            required></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalEnd.valid" class="help-block">אנא הכנס שעת סיום</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-offset-2 col-sm-8">
              <label>הערות</label>
              <input type="text" class="form-control" name="modalComment" [(ngModel)]="modalComment" #comment="ngModel"
              />
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">אישור</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
