<div class="container-fluid">
  <div class="col-md-4 responsiveCal" *ngIf="displayCalendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;hl=iw&amp;bgcolor=%23FFFFFF&amp;src=en.jewish%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FJerusalem"
      style="border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="col-md-6" *ngIf="showDailyHoursChart">
    <p-chart #chart type="bar" [data]="chartData"></p-chart>
  </div>
  <div [ngClass]="{'col-md-8': displayCalendar,
                   'col-md-6': showDailyHoursChart}">
    <p-growl [value]="msgs"></p-growl>
    <div class="panel panel-primary">
      <div class="panel-heading">רשימת דיווחי שעות</div>
      <div class="panel-body">
        <div id="row">
          <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-9 col-md-3">
            <input id="filter-container" #gb type="text" class="form-control" placeholder="סינון">
          </div>
        </div>
        <div class="col-xs-12">
          <p-dataTable [value]="data" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt [responsive]="true"
                       selectionMode="single" (onRowSelect)="onRowClick($event)">
            <p-header>
              <p-toolbar>
                <div class="ui-toolbar-group-right">
                  <p-dropdown name="month" id="month" [(ngModel)]="chosenMonth" [options]="months"
                              (onChange)="initTableData()"></p-dropdown>
                  <p-dropdown name="year" id="year" [(ngModel)]="chosenYear" [options]="years"
                              (onChange)="initTableData()"></p-dropdown>
                  <p-dropdown *ngIf="user.isAdmin" class="admin-dropdown" name="companies" id="companies" [(ngModel)]="chosenCompany" [options]="dropdownCompanies"
                              (onChange)="setEditCompany()" [style]="{width : '126px'}"></p-dropdown>
                  <p-dropdown *ngIf="user.isAdmin" class="admin-dropdown" name="users" id="users" [(ngModel)]="editableUser" [options]="companyUsers"
                              (onChange)="setEditableUser()" [style]="{width : '126px'}"></p-dropdown>
                  <img *ngIf="loading"
                       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
                <div class="ui-toolbar-group-left">
                  <button class="btn btn-info" (click)="addShift()" tooltipPlacement="top" tooltip="הוסף דיווח" [disabled]="isPlaceHolderUser()"><span
                    class="glyphicon glyphicon-plus"></span></button>
                  <button class="btn btn-default" (click)="toggleCalendar()" tooltipPlacement="top"
                          tooltip="הצג/הסתר לוח שנה"><span
                    class="glyphicon glyphicon-calendar"></span></button>
                  <button class="btn btn-default" (click)="toggleDailyHoursChart()" tooltipPlacement="top"
                          tooltip="הצג/הסתר טבלת שעות חודשית"><span
                    class="glyphicon glyphicon-equalizer"></span></button>
                  <button [disabled]="!(editableUserShiftsStackSave && editableUserShiftsStackSave.length > 0)"
                          class="btn btn-warning"
                          (click)="undoShiftChange()" tooltipPlacement="top" tooltip="בטל שינוי אחרון">
                    <span class="fa fa-undo" aria-hidden="true"></span>
                  </button>
                  <button class="btn btn-success" (click)="saveData()" tooltipPlacement="top" tooltip="שמור" [disabled]="isPlaceHolderUser()"><span
                    class="glyphicon glyphicon-floppy-save"></span></button>
                  <button class="btn btn-default" (click)="exportToCsv()" tooltipPlacement="top" tooltip="שמור דוח">
                    <span class="glyphicon glyphicon-download-alt"></span></button>
                </div>
              </p-toolbar>
            </p-header>
            <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header"
                      [sortable]="col.field !== 'comment'? 'custom' : false" (sortFunction)="changeSort($event)"
            ></p-column>
          </p-dataTable>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">דיווח שעה</h4>
      </div>
      <div class="modal-body">

        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div class="row">
            <div class="form-group col-sm-offset-3 col-sm-4 modal-pick-date-section"
                 [ngClass]="{ 'has-error': f.submitted && !date.valid }">
              <label>תאריך</label>
              <input type="text" disabled class="form-control"
                     value="{{getDate() | date: 'dd/MM/yyyy'}}"/>
              <div style="display: inline-block;min-height:267px;">
                <datepicker dir="ltr" shortcutPropagation="true" [(ngModel)]="modalDate" [showWeeks]="false"
                            #date='ngModel' name="date" requierd></datepicker>
              </div>
              <div *ngIf="f.submitted && !date.valid" class="help-block">אנא הכנס תאריך דיווח</div>
              <div *ngIf="isExistShiftInChosenDay()" class="help-block">קיימת משמרת ביום זה, לחיצה על אישור תחליף את נתוני המשמרת בנתונים המוזנים
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalStart.valid }" dir="ltr">
                <label>שעת התחלה</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalStart"
                            [(ngModel)]="modalStartHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="false"
                            [readonlyInput]="false" required name="modalStart" #modalStart="ngModel"></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalStart.valid" class="help-block">אנא הכנס שעת התחלה</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalEnd.valid }" dir="ltr">
                <label>שעת סיום</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalEnd"
                            [(ngModel)]="modalEndHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="false"
                            [readonlyInput]="false" name="modalEnd" #modalEnd="ngModel"
                            required></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalEnd.valid" class="help-block">אנא הכנס שעת סיום</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-offset-2 col-sm-8">
              <label>הערות</label>
              <input type="text" class="form-control" name="modalComment" [(ngModel)]="modalComment"
                     #comment="ngModel"
              />
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="confirmShift()">אישור</button>
            <button *ngIf="checkedRow !== -1 " class="btn btn-danger" (click)="deleteShift()">מחק דיווח</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog width="425" acceptLabel="כן" rejectLabel="לא" [closable]="false" [closeOnEscape]="false"></p-confirmDialog>
