tbody {
  //height: 100%;
  overflow: auto;
  position: relative;
}

.close {
   float: left;
 }

.panel-body {
  min-height: 480px;
}

.clickable {
  cursor: pointer;
}

.responsiveCal {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 35%;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
  }
}

#month, #year, #companies, #users {
  margin-left: 5px;
}

.modal-pick-date-section {
  margin-bottom: 0;
}

#filter-container {
  margin: 10px 0 10px 0;

  .col-xs-12{
    width: 24%;
  }
}

p-growl {
  /deep/ .ui-growl{
    top: 60px;
  }
}

@media(max-width: 35em) {
  /deep/ .ui-datatable-reflow .ui-datatable-data td {
    text-align: right;
  }
}

p-dataTable{
  /deep/ .ui-datatable .ui-paginator{
    direction: ltr;
  }

  .col-xs-12 {
    padding: 0;
  }

  p-toolbar {
    margin-bottom: 10px;

    /deep/ .ui-widget-header{
      border: 0;
    }

    p-dropdown {
      /deep/ .admin-dropdown{
        /deep/ .ui-widget-header .ui-state-default{
          width: 100% !important;
        }
      }
    }
  }
}
