<div class="container-fluid">
  <div class="col-md-4 responsiveCal" *ngIf="displayCalendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;hl=iw&amp;bgcolor=%23FFFFFF&amp;src=en.jewish%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FJerusalem"
      style="border-width:0" width="500" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="col-md-6" *ngIf="showDailyHoursChart">
    <p-chart #chart type="bar" [data]="chartData"></p-chart>
  </div>
  <div [ngClass]="{'col-md-12': !displayCalendar && !showDailyHoursChart,
                   'col-md-8': displayCalendar,
                   'col-md-6': showDailyHoursChart}">
    <div class="shifts-buttons-area">
      <p-dropdown *ngIf="user.isAdmin" dir="ltr" name="companies" id="companies" [(ngModel)]="chosenCompany" size="1"
                  [options]="dropdownCompanies"
                  (onChange)="setEditCompany()"></p-dropdown>
      <p-dropdown *ngIf="user.isAdmin" dir="ltr" name="users" id="users" [(ngModel)]="chosenCompanyUser" size="1"
                  [options]="companyUsers"
                  (onChange)="setEditableUser()"></p-dropdown>
      <p-dropdown dir="ltr" name="month" id="month" [(ngModel)]="chosenMonth" [options]="months"
                  (onChange)="initTableData()"></p-dropdown>
      <p-dropdown dir="ltr" name="year" id="year" [(ngModel)]="chosenYear" size="1" [options]="years"
                  (onChange)="initTableData()"></p-dropdown>
      <button class="btn btn-info" (click)="addShift()" tooltipPlacement="top" tooltip="הוסף דיווח"><span
        class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-default" (click)="toggleCalendar()" tooltipPlacement="top"
              tooltip="הצג/הסתר לוח שנה"><span
        class="glyphicon glyphicon-calendar"></span></button>
      <button class="btn btn-default" (click)="toggleDailyHoursChart()" tooltipPlacement="top"
              tooltip="הצג/הסתר טבלת שעות חודשית"><span
        class="glyphicon glyphicon-equalizer"></span></button>
      <button [disabled]="!(editableUserShiftsStackSave && editableUserShiftsStackSave.length > 0)" class="btn btn-warning"
              (click)="undoShiftChange()" tooltipPlacement="top" tooltip="בטל שינוי אחרון">
        <span class="fa fa-undo" aria-hidden="true"></span>
      </button>
      <button class="btn btn-success" (click)="saveData()" tooltipPlacement="top" tooltip="שמור"><span
        class="glyphicon glyphicon-floppy-save"></span></button>
      <button class="btn btn-default" (click)="exportToCsv()" tooltipPlacement="top" tooltip="שמור דוח">
        <span class="glyphicon glyphicon-download-alt"></span></button>
    </div>
    <p-growl [value]="msgs"></p-growl>
    <div class="panel panel-primary">
      <div class="panel-heading">רשימת דיווחי שעות</div>
      <div class="panel-body">
        <div id="filter-container" class="col-md-2">
          <input *ngIf="config.filtering" placeholder="סינון"
                 [ngTableFiltering]="config.filtering"
                 class="form-control"
                 (tableChanged)="onChangeTable(config)"/>
        </div>

        <ng-table [config]="config"
                  (tableChanged)="onChangeTable(config)"
                  (cellClicked)="onCellClick($event)"
                  [rows]="rows" [columns]="columns">
        </ng-table>
      </div>
      <div class="panel-footer">
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event"
                    nextText="&lsaquo;" previousText="&rsaquo;" lastText="&laquo;" firstText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">דיווח שעה</h4>
      </div>
      <div class="modal-body">

        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
          <div class="row">
            <div class="form-group col-sm-offset-3 col-sm-4 modal-pick-date-section"
                 [ngClass]="{ 'has-error': f.submitted && !date.valid }">
              <label>תאריך</label>
              <input type="text" disabled class="form-control"
                     value="{{getDate() | date: 'dd/MM/yyyy'}}"/>
              <div style="display: inline-block;min-height:267px;">
                <datepicker dir="ltr" shortcutPropagation="true" [(ngModel)]="modalDate" [showWeeks]="false"
                            #date='ngModel' name="date" requierd (ngModelChange)="print($event)"></datepicker>
              </div>
              <div *ngIf="f.submitted && !date.valid" class="help-block">אנא הכנס תאריך דיווח</div>
            </div>
            <div class="col-sm-4">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalStart.valid }" dir="ltr">
                <label>שעת התחלה</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalStart"
                            [(ngModel)]="modalStartHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="false"
                            [readonlyInput]="false" required name="modalStart" #modalStart="ngModel"></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalStart.valid" class="help-block">אנא הכנס שעת התחלה</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !modalEnd.valid }" dir="ltr">
                <label>שעת סיום</label>
                <!--<div style="display: inline-block;min-height:267px;">-->
                <timepicker name="modalEnd"
                            [(ngModel)]="modalEndHour" [hourStep]="hstep"
                            [minuteStep]="mstep" [showMeridian]="false"
                            [readonlyInput]="false" name="modalEnd" #modalEnd="ngModel"
                            required></timepicker>
                <!--</div>-->
                <div *ngIf="f.submitted && !modalEnd.valid" class="help-block">אנא הכנס שעת סיום</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-offset-2 col-sm-8">
              <label>הערות</label>
              <input type="text" class="form-control" name="modalComment" [(ngModel)]="modalComment"
                     #comment="ngModel"
              />
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="confirmShift()">אישור</button>
            <button *ngIf="checkedRow !== -1 " class="btn btn-danger" (click)="deleteShift()">מחק דיווח</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

