.container-fluid {
  background: #e7e7e7;
  padding: 15px;
  border-radius: 20px;
}

tbody {
  //max-height: 100%;
  overflow: auto;
  position: relative;
}

.close {
  float: left;
}

.export-button{
  margin-right: 5px;
}
//ng-table {
//  /deep/ th {
//    text-align: center;
//    .clickable;
//  }
//  /deep/ td {
//    .clickable;
//  }
//  /deep/ tbody tr {
//    &:hover {
//      background-color: beige;
//    }
//  }
//
//}

.panel-body {
  position: relative;
  min-height: 480px;
 // height: 480px;
}

//.export-button {
//  position: absolute;
//  width: auto;
//  height: auto;
//  left: 7px;
//  top: -37px;
//}

//.clickable {
//  cursor: pointer;
//}

//#filter-container {
//  float: right;
//  margin: 10px 0 10px 0;
//}

p-toolbar {

  margin-bottom: 10px;

  /deep/ .ui-widget-header{
    border: 0;
  }
  p-dropdown {
    text-align: right;

    /deep/ label,
    /deep/ li {
      text-align: right;
    }
  }
}

@media(max-width: 35em) {
  /deep/ .ui-datatable-reflow .ui-datatable-data td {
    text-align: right;
  }
}

p-dataTable{
  /deep/ .ui-datatable .ui-paginator{
    direction: ltr;
  }

  .col-xs-12 {
    padding: 0;
  }
}

#filter-container {
  margin: 10px 0 10px 0;

  .col-xs-12{
    width: 24%;
  }
}
